.form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.input {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 19px;
    padding-bottom: 19px;
    border: none;
    background-color: var(--greyF4);
}

.input::placeholder {
    color: var(--grey99);
    font-size: 16px;
    font-family: 'SF UI Display';
    font-weight: 300;
    line-height: 17px;
}

.btnForm {
    width: 65%;
    background-color: var(--greenLight);
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-family: 'SF UI Display';
    font-weight: 500;
    line-height: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    transition: all .5s ease;
}

.btnForm:hover {
    background-color: var(--green41);
}

.btnForm:disabled {
    background-color: var(--greyC4);
}