.taskItem {
    display        : flex;
    justify-content: space-between;
    padding-top    : 19px;
    padding-bottom : 19px;
    border-bottom  : 1px solid var(--greyE4);
}


.taskName {
    color      : var(--black);
    font-size  : 16px;
    font-family: 'SF UI Display';
    font-weight: 300;
    line-height: 17px;
    word-break : break-all;
}

.amountPomodoro {
    border       : 1px solid var(--greyC4);
    padding      : 5px 10px;
    border-radius: 100%;
}
